.conten_btn{
  display: flex;
  justify-content: start;
}
.boton{
  display: inline-block;
  background-color: var(--color-primario);
  padding: 0.9375rem 1.5rem;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  color: #464646;
  cursor: pointer;
  z-index: 100;
  transition: 2s ease;
}
.boton:hover{
  background-color: var(--color-verde);
}