.clinica{
  background-color: white;
  padding-bottom: 4rem;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.img_clinica{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: filter 0.3s ease;
}
.img_clinica:hover{
  filter: brightness(70%);
}
@media screen and (min-width: 668px) {
  .clinica{
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 48px;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 868px) {
  .grid{
    grid-template-columns: repeat(4, 1fr);
  }
}