:root{
  --color-primario: #99FFE4;
  --color-secundario: #E5FFF8;
  --color-gris: #464646; 
  --color-verde: #3AFFCB;
  --swiper-theme-color: #464646 !important;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html{
  scroll-behavior: smooth;
  ::-webkit-scrollbar { width: .5rem; height: .5rem; }
  ::-webkit-scrollbar-button { background: #ccc }
  ::-webkit-scrollbar-track-piece { background: #888 }
  ::-webkit-scrollbar-thumb { background: #fff }
}
h1, h2, h3, h4, h5, h6{
  color: var(--color-gris);
}
h1{
  font-size: clamp(2rem, 5vw, 3rem);
}
h2{
  font-size: clamp(24px, 5vw, 34px);
}
h3{
  font-size: clamp(1.125rem, 5vw, 1.5rem);
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
button{
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
}
@media screen and (max-width: 567px) {
  .contenedor{
    padding: 0 1rem;
  }
}
@media screen and (min-width: 568px) {
  .contenedor{
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .contenedor{
    padding: 0 2rem;
  }
}
@media screen and (min-width: 968px) {
  .contenedor{
    padding: 0 5rem;
  }
}
