.homepage{
  background-image: url('/Bg-Mobil.webp');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container_text{
  width: 100%;
  padding: 1rem;
}
.title{
  padding-top: 3.5rem;
  font-size: calc(2rem 5vh 5rem);
}
.parrafo{
  width: 100%;
  font-size: 1rem;
  padding: 24px 0;
}
.contenedor_btn{
  padding-bottom: 24px;
}
.btn_home{
  display: inline-block;
  background-color: #99FFE4;
  padding: 0.9375rem 1.5rem;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  color: #464646;
}
.container_imagen{
  width: 70%;
  
}
.imagen{
  display: block;
  object-fit: cover;
}
.imagen_desktop{
  display: none;
}

@media screen and (min-width: 968px) {
  .homepage{
    background-image: url('/Bg_Desktop.webp');
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
  }
  .container_text{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: clamp(2rem, 5vw, 3rem);
    padding-top: 0px;
    font-weight: 900;
  }
  .parrafo{
    width: 80%;
    font-size: 1rem;
    padding: 32px 0;
  }
  .container_imagen{
    display: flex;
    justify-content: center;
    

  }
  .imagen{
    display: none;
  }
  .imagen_desktop{
    display: block;
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 200%;
    
  }
}
@media screen and (min-width: 1068px) {
  .homepage{
    background-image: url('/Bg_Desktop.webp');
    
  }
}